#######   DB Connection Default   #######
# username : myuser
# password : password
# database ( maintenace db ) : fastapi_database
# port : 5432

### URL Localhost
# เปิด database ที่ใช้ใน Docker : docker compose up -d db 
# run local : uvicorn main:app --reload
DATABASE_URL=postgresql://myuser:password@localhost:5432/fastapi_database

### URL Docker Container
## db เป็น server หลัก
# run : docker compose up --build

# ===== Zilliz / Milvus =====


DATABASE_URL=postgresql://myuser:password@db:5432/fastapi_database
POSTGRES_USER=myuser
POSTGRES_PASSWORD=password
POSTGRES_DB=fastapi_database

path_redoc = http://127.0.0.1:8000/redoc
path_doc = http://127.0.0.1:8000/docs

## Auth 
SECRET_KEY = aLuFNmIOShSvec46sYiNsnAX+fk9Ak+Y3262rl+BB1AZyI8GbkwDuSyWBdk=
ALGORITHM = HS256


