# Backend
__pycache__/
*.py[cod]
*$py.class
pg_data/

venv/
.venv/
env/

.env
.env.*

# Frontend
node_modules/

dist/
build/
.next/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#Docker กับ System
pg_data/
postgres_data/

.DS_Store
Thumbs.db

.vscode/
.idea/