fastapi
uvicorn
sqlalchemy
passlib==1.7.4
psycopg2-binary
python-dotenv
pydantic
pyjwt
python-multipart
email-validator
loguru
bcrypt==3.2.0
fastapi-pagination==0.15.7
pymilvus
sentence-transformers
Pillow

langchain==0.2.16
langchain-core==0.2.39
langchain-groq==0.1.10
fastapi-pagination==0.14.3
